tr {
    border:0px;
	margin:0px;
    border-collapse:collapse;
    border-spacing:0px;
    padding:0px;
}
td {
    border:0px;
	margin:0px;
    border-collapse:collapse;
    border-spacing:0px;
    padding:0px;
}